<div class="row padding-top-20">
    <div class="col-md-8"><p class="title-text">Home</p></div>

    <div class="col-md-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>
<hr>
<div class="row title-list">
    <div class="col-md-5">List of Users</div>
</div>
<div class="row">
    <div class="table-responsive col-md-12 table-list">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, user) in users">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td ng-if="user.status == 0">INACTIVE</td>
                <td ng-if="user.status == 1">ACTIVE</td>
                <td ng-if="user.status == 2">SUSPENDED</td>
                <td>
                    <i class="fa fa-pencil-square-o fa-2 margin-right-5" aria-hidden="true" ui-sref="edit-user({userId: user._id})"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Waring</h3>
    </div>
    <div class="modal-body">
        Are you sure to delete this item?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
<button class="btn btn-danger" ng-click="logout()">Logout</button>